<!doctype html>
<html>
  <head>
    <title>Simple Terraform Registry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
  </head>
  <body>
<!--CONTAINER-->
<!-- <div class="container">
  <ul class="collection with-header">
      <li class="collection-header"><h4><b>Header {{ list_header }}</b></h4></li>
      {% for module in modules %}
          <li class="collection-item"><a href="#">{{ module }}</a></li>
      {% endfor %}
  </ul>
</div> -->

<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Here are your Modules</h1>
      <p class="lead text-muted">List of the Namespaces for Terraform modules</p>

    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for module in modules %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ module }}</h5>
            <p class="card-text">Synopsis of the Namespace needed</p>
            <p>
              <a href="{{ filepath }}{{ module}}" class="btn btn-primary my-2">See Modules</a>
            </p> 
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  </body>
</html>