<!doctype html>
<html>
  <head>
    <title>Modules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css',_external=True,_scheme='https') }}">
  </head>
  <body>

<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Here are our modules</h1>
      <p class="lead text-muted">List of the modules for Terraform</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for module in modules %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ module }}</h5>
            <p class="card-text">Synopsis of the Module needed</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ module }}" class="btn btn-outline-primary">See Versions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  </body>
</html>